@use 'node_modules/@angular/material' as mat;
@use "colors" as *;

@include mat.core();

$trello-clone-primary: mat.define-palette($primary);
$trello-clone-accent: mat.define-palette($accent, A500, A200, A700);
$trello-clone-warn: mat.define-palette(mat.$orange-palette);
$trello-clone-theme: mat.define-light-theme((
  color: (
    primary: $trello-clone-primary,
    accent: $trello-clone-accent,
    warn: $trello-clone-warn,
  )
));

@include mat.all-component-themes($trello-clone-theme);



